<mat-card *ngIf="agreement">
  <mat-card-title>FlexiTime Factory</mat-card-title>
  <mat-card-subtitle>View Agreement</mat-card-subtitle>
  <mat-card-content>
    <div><label>Address: </label> {{ agreement.address }} </div>
    <div><label>Name: </label> {{ agreement.name }} </div>
    <div><label>Symbol: </label> {{ agreement.symbol }} </div>
    <div><label>Decimals: </label> {{ agreement.decimals }} </div>
    <div><label>Total Supply: </label> {{ agreement.totalSupply }} </div>
    <div><label>Valid From: </label> {{ agreement.validFrom | epoch | date:'y-MMMM-dd hh:mm' }} </div>
    <div><label>Expires End: </label> {{ agreement.expiresEnd | epoch | date:'y-MMMM-dd hh:mm' }} </div>
    <div><label>Issuer: </label> {{ agreement.issuer }} </div>
    <div><label>Beneficiary: </label> {{ agreement.beneficiary }} </div>
    <div><label>State: </label> {{ agreement.state | state }} </div>

    <div [hidden]='isIssuerInState("Created")'>
      <div><label>Content Hash: </label> {{ agreement.contentHash }} </div>
    </div>
    <div [hidden]='!isIssuerInState("Created")'>
      <span [hidden]='this.changed'>
        <form class="ftt-form" #agreementForm="ngForm" (ngSubmit)="propose()">
          <mat-form-field class="ftt-full-width">
            <input matInput placeholder="Hashed hash" [(ngModel)]="agreement.contentHash" name="contentHash" required>
          </mat-form-field>
          <button mat-raised-button type="submit" [disabled]="!agreementForm.form.valid">Propose</button>
        </form>
      </span>
    </div>
    <span [hidden]='!isIssuerInState("Proposed")'>
      <button mat-raised-button (click)="withdraw()">Withdraw</button>
    </span>
    <span [hidden]='!isBeneficiaryInState("Proposed")'>
      <button mat-raised-button (click)="accept()">Accept</button>
    </span>
    <span [hidden]='!isBeneficiaryInState("Proposed")'>
      <button hidden=true mat-raised-button (click)="reject()">Reject</button>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()">Back</button>
    <button mat-raised-button (click)="print()">Print</button>
  </mat-card-actions>
</mat-card>
