<mat-card>
  <mat-card-title>FlexiTime Token</mat-card-title>
  <mat-card-subtitle>View Token</mat-card-subtitle>
  <mat-card-content>

    <p>
      Token Address: {{ token?.address }}
    </p>
    <p>
      Token Balance: {{ token?.balance }}
    </p>
    <p>
      Agreement Address:
      <a *ngIf="token?.agreement" [routerLink]="['/agreements/', token.agreement]">
        {{ token?.agreement }}
      </a>
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()">Back</button>
    <button mat-raised-button (click)="onTask()">New Task</button>
    <button mat-raised-button (click)="onTransfer()">Transfer</button>
  </mat-card-actions>
</mat-card>
