<mat-card>
  <mat-card-title>AgreementFactory</mat-card-title>
  <mat-card-subtitle>View Agreements
    <a mat-icon-button routerLink="/factory/create_agreement">
      <mat-icon matTooltip="New Agreement">add_circle</mat-icon>
    </a>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let agreement of agreements">
        <a [routerLink]="['/agreements/', agreement]"> {{agreement}} </a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
