<mat-card *ngIf="task">
  <mat-card-title>FlexiTime Task</mat-card-title>
  <mat-card-subtitle>{{ task.address }}</mat-card-subtitle>
  <mat-card-content>
    <p>
      Token Address:
      <a *ngIf="task.token?.address" [routerLink]="['/tokens/', task.token?.address]">
        {{ task.token?.address }}
      </a>
    </p>
    <p>Name: <span *ngIf="task.token?.agreement?.address">{{ task.name | decrypt: task.token?.agreement?.address }}</span></p>
    <p>Issuer: {{ task.token?.agreement?.issuer }}</p>
    <p>Beneficiary: {{ task.token?.agreement?.beneficiary }}</p>
    <p>Balance: {{ task.balance }}</p>
    <p>State: {{ task.stateAsString }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()">Back</button>
    <span [hidden]='!task.inState("Created")'>
      <span [hidden]='!task.isAccountType(this.defaultAccount, "beneficiary")'>
        <button mat-raised-button (click)="onSettle()">Settle</button>
      </span>
      <span [hidden]='!task.isAccountType(this.defaultAccount, "issuer")'>
        <button mat-raised-button (click)="onRefund()">Refund</button>
      </span>
    </span>
  </mat-card-actions>
</mat-card>
