<mat-card>
  <mat-card-title>FlexiTime Factory</mat-card-title>
  <mat-card-subtitle>Create Agreement</mat-card-subtitle>
  <mat-card-content>
    <span [hidden]="submitted">
      <form class="ftt-form" #agreementForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="ftt-full-width">
          <input matInput placeholder="Token name" [(ngModel)]="agreement.tokenName" name="tokenName" required>
        </mat-form-field>
        <mat-form-field class="ftt-full-width">
          <input matInput placeholder="Token symbol" [(ngModel)]="agreement.tokenSymbol" name="tokenSymbol" required>
        </mat-form-field>
        <mat-form-field class="ftt-full-width">
          <input matInput placeholder="Decimal places" type="number" [(ngModel)]="agreement.decimalPlaces" name="decimalPlaces" required>
        </mat-form-field>
        <mat-form-field class="ftt-full-width">
          <input matInput placeholder="Total supply" type="number" [(ngModel)]="agreement.totalSupply" name="totalSupply" required>
        </mat-form-field>
        <div class="ftt-full-width">
          <mat-form-field>
            <input matInput [matDatepicker]="pickerFrom" placeholder="Valid from Date" [(ngModel)]="agreement.validFromDate" name="validFromDate" required>
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="max-width: 50px">
            <input matInput placeholder="Hour" type=number [(ngModel)]="agreement.validFromHour" name="validFromHour" required>
          </mat-form-field>
          <span> : </span>
          <mat-form-field style="max-width: 50px">
            <input matInput placeholder="Minute" type=number [(ngModel)]="agreement.validFromMinute" name="validFromMinute" required>
          </mat-form-field>
        </div>
        <div class="ftt-full-width">
          <mat-form-field>
            <input matInput [matDatepicker]="pickerEnd" placeholder="Expires end Date" [(ngModel)]="agreement.expiresEndDate" name="expiresEndDate" required>
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="max-width: 50px">
            <input matInput placeholder="Hour" type=number [(ngModel)]="agreement.expiresEndHour" name="expiresEndHour" required>
          </mat-form-field>
          <span> : </span>
          <mat-form-field style="max-width: 50px">
            <input matInput placeholder="Minute" type=number [(ngModel)]="agreement.expiresEndMinute" name="expiresEndMinute" required>
          </mat-form-field>
        </div>
        <mat-form-field class="ftt-full-width">
          <input matInput placeholder="Issuer address" [(ngModel)]="agreement.issuerAddress" name="issuerAddress" required>
        </mat-form-field>
        <mat-form-field class="ftt-full-width">
          <input matInput placeholder="Beneficiary address" [(ngModel)]="agreement.beneficiaryAddress" name="beneficiaryAddress" required>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!agreementForm.form.valid">Create</button>
      </form>
    </span>
    <span [hidden]="!submitted">
      <div>
        <label>Status: </label> {{ status }}
      </div>
      <div [hidden]="!confirmed">
        <label>Transaction: </label><a [href]="'https://etherscan.io/tx/' + transaction" target="_blank"> {{ transaction }} </a>
      </div>
      <div [hidden]="!created">
        <label>Agreement: </label><a [routerLink]="['/agreements/', agreementHash]"> {{ agreementHash }} </a>
      </div>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()">Back</button>
  </mat-card-actions>
</mat-card>
